<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autor</title>
</head>
<body>
    <h1>Dados do autor</h1>
    <p>Nome: {{ autor }}</p>
    <h2>Formações acadêmicas</h2>
    <p>Curso: {{ curso }}</p>
    <p>Instituição: {{ instituicao }}</p>
    <p>Ano: {{ ano }}</p>
    <h2>Esperiências profissionais</h2>
    <p>Função: {{ funcao }}</p>
    <p>Empresa: {{ empresa }}</p>
    <p>Ano: {{ ano_inst }}</p>
    
</body>
</html>