<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo autor</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="/autor" method="post">
                <h1>Informe os dados do autor</h1>
                <div class="campo">
                    <span>Nome</span>
                    <input type="text" name="autor">
                </div>
                <div class="campo">
                    <span>Formações acadêmicas</span>
                    <input type="text" name="curso" placeholder="Curso">
                    <input type="text" name="instituicao" placeholder="Istituição">
                    <input type="text" name="ano" placeholder="Ano">
                </div>
                <div class="campo">
                    <span>Experiências profissionais</span>
                    <input type="text" name="funcao" placeholder="Função">
                    <input type="text" name="empresa" placeholder="Empresa">
                    <input type="text" name="ano_prof" placeholder="Ano">
                </div>
                <div class="button">
                    <button type="submit" value="cadastrar">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>