<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="/resultado" method="POST">
                <h1>Soma</h1>
                <div class="campo">
                    <span>Digite um número</span>
                    <input type="text" name="numero1" placeholder="0000">
                </div>
                <div class="campo">
                    <span>Digite um número</span>
                    <input type="text" name="numero2" placeholder="0000">
                </div>
                <div class="button">
                    <button type="submit" value="calcular">Calcular</button>
                </div>
            </form>
            <button onclick="window.location.href='/novoautor';">Novo autor</button>
        </div>
    </div>
    
</body>
</html>